In [2]:
import seaborn as sns
import pandas as pd
import numpy as np

In [3]:
df = sns.load_dataset("diamonds")
df.to_csv('../data/raw/data_diamonds.csv', index=False)

In [8]:
df.head(10)

   carat        cut color clarity  depth  table  price     x     y     z
0   0.23      Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21    Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23       Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29    Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31       Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75
5   0.24  Very Good     J    VVS2   62.8   57.0    336  3.94  3.96  2.48
6   0.24  Very Good     I    VVS1   62.3   57.0    336  3.95  3.98  2.47
7   0.26  Very Good     H     SI1   61.9   55.0    337  4.07  4.11  2.53
8   0.22       Fair     E     VS2   65.1   61.0    337  3.87  3.78  2.49
9   0.23  Very Good     H     VS1   59.4   61.0    338  4.00  4.05  2.39

In [4]:
df.columns

Index(['carat', 'cut', 'color', 'clarity', 'depth', 'table', 'price', 'x', 'y',
       'z'],
      dtype='object')

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53940 entries, 0 to 53939
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   carat    53940 non-null  float64
 1   cut      53940 non-null  category
 2   color    53940 non-null  category
 3   clarity  53940 non-null  category
 4   depth    53940 non-null  float64
 5   table    53940 non-null  float64
 6   price    53940 non-null  int64
 7   x        53940 non-null  float64
 8   y        53940 non-null  float64
 9   z        53940 non-null  float64
dtypes: category(3), float64(6), int64(1)
memory usage: 3.0 MB

In [9]:
dicionario_diamonds = pd.DataFrame([
    {
        'variavel': 'carat',
        'descricao': 'Peso do diamante',
        'tipo': 'quantitativa',
        'subtipo': 'continua'
    },{
        'variavel': 'cut',
        'descricao': 'QuAlidade do corte',
        'tipo': 'qualitativa',
        'subtipo': 'ordinal'
    },{
        'variavel': 'color',
        'descricao': 'Cor do diamante',
        'tipo': 'qualitativa',
        'subtipo': 'ordinal'
    },{
        'variavel': 'clarity',
        'descricao': 'Clareza do diamante',
        'tipo': 'qualitativa',
        'subtipo': 'ordinal'
    },{
        'variavel': 'depth',
        'descricao': 'Porcentagem de profundidade',
        'tipo': 'quantitativa',
        'subtipo': 'continua'
    },{
        'variavel': 'table',
        'descricao': 'Largura do topo do losango em relação ao ponto mais largo',
        'tipo': 'quantitativa',
        'subtipo': 'continua'
    },{
        'variavel': 'price',
        'descricao': 'Preço em dólares americanos',
        'tipo': 'quantitativa',
        'subtipo': 'contínua'
    },{
        'variavel': 'x',
        'descricao': 'Comprimento em mm',
        'tipo': 'quantitativa',
        'subtipo': 'continua'
    },{
        'variavel': 'y',
        'descricao': 'Largura em mm',
        'tipo': 'quantitativa',
        'subtipo': 'continua'
    },{
        'variavel': 'z',
        'descricao': 'Profundidade em mm',
        'tipo': 'quantitativa',
        'subtipo': 'continua'
    }
])

dicionario_diamonds

,variavel,descricao,tipo,subtipo
0,carat,Peso do diamante,quantitativa,continua
1,cut,QuAlidade do corte,qualitativa,ordinal
2,color,Cor do diamante,qualitativa,ordinal
3,clarity,Clareza do diamante,qualitativa,ordinal
4,depth,Porcentagem de profundidade,quantitativa,continua
5,table,Largura do topo do losango em relação ao ponto...,quantitativa,continua
6,price,Preço em dólares americanos,quantitativa,contínua
7,x,Comprimento em mm,quantitativa,continua
8,y,Largura em mm,quantitativa,continua
9,z,Profundidade em mm,quantitativa,continua

In [10]:
dicionario_diamonds.to_csv('../data/external/dictionary_diamonds.csv', index=False)